article.card {
  width: 30%;
  height: auto;
  border: 1px solid lightblue;
  display: inline-block;
  margin-bottom: 5px;
}


.title {
  border: 1px dotted lightgray;
}

.middle {
  text-align: center;
}

.jtrules {
  text-align: justify;
  margin: 5px;
  padding: 5px;
}

.bility {
  text-align: left;
  color: yellow;
  background-color: darkgray;
}

.fat {
  font-weight: bold;
}

.dent {
  text-indent: 2em;
}

.nomarg {
  margin: 0;
}

.tiny {
  font-size: x-small;
}